<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>privateKey</key>
	<string>MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBAMmvDjiJxWlGixpa
aA4budjS4iIQYml+J6V5fum7lTkFY60WNXaQ2HvQtvLd7CtTfNSiO8KIBYYFABZg
kl0TnL0qVJAJ8iH/JAz0EDnWlVHuCHvNvsBaNmqdvp5+0S9myPhWfTOT4qF8PR7g
sb29+wF5Bd3C9MZuPqbYx847QUyVAgMBAAECgYBThuJ22+gcT5DwmxyZKzZu6/en
b+2yDwNQbt724i9M7ER5vMbrkdV2gdwi/XIAB5WdYospZ7gR5yRAIEK9tY+ls5EM
xtc3fVEhGPWvq4UAwTUqphau08kYPTGYRiridX8Atxj3j+Q7++DCzs/ozq80dSqY
omD3JOSokdJBGBR5CQJBAPUEIazV0G/n3nFGZDY3u/9hSyeOKco8L7dH5PBFKpwo
3/PxEiQggPoZQBOF36xU7iqmBGpmXLrJnzYQLZriGr8CQQDSuaGKx6LWoOkEF5Dp
y7qBz1oxtmFOPO6czWinBWuARQAMvToLsCHT6E+cWF7iSB+Gv4v1JemF7AIyxaJz
/VGrAkAuSZqHCVm4WmiWo8K4z2yvwVSuY1gXwakOCgIBNj/ngn1Um31e39kd5nlJ
dugbqWvZGMYKx83K594xG3tSIFcHAkAE4LEhkj9tsmnSY21CTCn0CUWwMuWLtxNa
49JRU2nKnU5D/TlTve76hb0aBF2l5T99kf9+XDNMm0rtu+9nuexjAkEAjBKyppAW
AxriwjSLjZI/Myvthe7UY0TBJxyYj4ri2ayvrbup9iqTTRXuDimfzGMyRdViyya4
VRUt7gcp6e+oJA==</string>
	<key>rsaprivateKey</key>
	<string>MIICXAIBAAKBgQDJrw44icVpRosaWmgOG7nY0uIiEGJpfieleX7pu5U5BWOtFjV2
kNh70Lby3ewrU3zUojvCiAWGBQAWYJJdE5y9KlSQCfIh/yQM9BA51pVR7gh7zb7A
WjZqnb6eftEvZsj4Vn0zk+KhfD0e4LG9vfsBeQXdwvTGbj6m2MfOO0FMlQIDAQAB
AoGAU4bidtvoHE+Q8JscmSs2buv3p2/tsg8DUG7e9uIvTOxEebzG65HVdoHcIv1y
AAeVnWKLKWe4EeckQCBCvbWPpbORDMbXN31RIRj1r6uFAME1KqYWrtPJGD0xmEYq
4nV/ALcY94/kO/vgws7P6M6vNHUqmKJg9yTkqJHSQRgUeQkCQQD1BCGs1dBv595x
RmQ2N7v/YUsnjinKPC+3R+TwRSqcKN/z8RIkIID6GUAThd+sVO4qpgRqZly6yZ82
EC2a4hq/AkEA0rmhisei1qDpBBeQ6cu6gc9aMbZhTjzunM1opwVrgEUADL06C7Ah
0+hPnFhe4kgfhr+L9SXphewCMsWic/1RqwJALkmahwlZuFpolqPCuM9sr8FUrmNY
F8GpDgoCATY/54J9VJt9Xt/ZHeZ5SXboG6lr2RjGCsfNyufeMRt7UiBXBwJABOCx
IZI/bbJp0mNtQkwp9AlFsDLli7cTWuPSUVNpyp1OQ/05U73u+oW9GgRdpeU/fZH/
flwzTJtK7bvvZ7nsYwJBAIwSsqaQFgMa4sI0i42SPzMr7YXu1GNEwSccmI+K4tms
r627qfYqk00V7g4pn8xjMkXVYssmuFUVLe4HKenvqCQ=</string>
	<key>MACPricateKey</key>
	<string>MIICdgIBADANBgkqhkiG9w0BAQEFAASCAmAwggJcAgEAAoGBANMXBbrBtPssiW07
jA11/2ykQCuSfXfdDSMyuTzNL3SQrATiDIyubjiS++H7wuB5HY9lQO7/YcDqzRb8
LjBa2CGCAqvbVN9nPCocpuic9wSkXfhVaStoEy97+Dmmy99Vj3RmgeL7/gDH95QG
m+bXdfN2SXUsqkv790YQfcLCvaQzAgMBAAECgYARm9sLgDsztLxmE1CUkuJS0sTT
na2/wP3mkMWpD8jEpYjkA2NenPJu37wJVvIjvZa8roqjJUSnTi77mt/TgtCCnESG
boC2dkekh/rYt8sXssRd9a+4GaIJbsh3f3gvUR445o2OSfhZvnACrxk1B3brYMf/
kzJyM9tip4rOLN3ugQJBAO7L/0VLQz35ZDmXBYIh0hBli0sbpHlGTrdPMRJvv4D3
wIjfhvQWCn5d/ZtaDmkIetz725F+7WjpXO9g1pdsJ8ECQQDiTAqEwHgC87EpGMBg
YP+LNff4wgqLnZSLEYly5NIVm/aCoQ5GP7poDHJzgPYiekMXG6qYT+AVBFWJL8KO
TejzAkACa16yvQh5YEV7r+QGZYFTWTQIFseb0vKJOOwuW6N9EwWIXXtojbCdhyZC
pK7wsX1NL+ARoU+WeIbQhhKmhhoBAkEAlvMqQQsyAqYTktpT2PZa/71sP58P8bmX
kHyONvmzuX5jnRdZsjpoWWeUIL/xb2Ymwo9N6HO/gcV2WSBmow4NSQJALCmeFuw6
o5k/6HnxWKVzMUxqJRnkb99/GI6Lu5n3jhM6hiobHEanJJjwjjM9MUNa/AJ8RMfO
89ikWoFZjbFK2w==</string>
</dict>
</plist>
